.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Share Style */
  .all-text-color{
    color: #0D1321;
  }
  header{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
     
  }
  nav{
    display: flex;
    justify-content: space-between;
    margin: 40px 150px 25px 150px ;
  }
  nav > a > button{
     width: 230px;
     height: 50px;
     background-color: transparent;
     border: 1px solid black;
     border-radius: 5px;
     color: black;
  }
  .hero-area-baground{
    width: 100%;
    height: 80vh;
     background-image: url('../assets/Hero-bg.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;

  }
  .hero-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero-area > img{
    /* position: relative; */
    width: 100%;
    height: 620px;
    z-index: -1;
  }

 .hero-area-taitel{
    text-align: center;
    width: 750px;
    margin: 30px 0px;
    line-height: 50px;
    font-weight: 900;
 }
 .hero-area-taitel-pTag{

    text-align: center;
    width: 500px;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;

 }
 .btn{
    margin-top: 20px;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 600;
    width: 200px;
    height: 50px;
    background-color: #0D1321;
    color: #ffff;
    border: none;
    outline: none;
    border-radius: 5px;

 }

 /* Main Section First Area */
 .firstSection-area{
    width: 1100px;
    height: 1090px;
    background-color: rgba(13, 19, 33, 0.02);
    margin: 30px auto;
    padding-top: 50px;
 }
 .firstSection-taitel-area{
    text-align: center;
 }
 .firstSection-taitel
 {
    font-weight: 900;
 }
 .firstSection-taitel-Description
 {
    width: 600px;
    margin: 0px auto;
    padding-top: 20px;
    line-height: 30px;
    font-size: 14px;
 }

 .first-box
 { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 80%;
    height: 250px;
    margin: 30px auto;
    background-color: #ffff;
 }
 .first-box-text-area{
    width: 300px;
 }
 .box-taitel{
    font-weight: 800;
    line-height: 32px;
 }
.box-Description{
    font-size: 13px;
    margin-top:15px;
    line-height: 22px;
}
.box-btn{
    display: block;
}
.first-box button{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
    background: transparent;
    width: 140px;
    height: 35px;
    border: 1px solid black;
}
.secend-box-text-area{
    width: 400px;
    margin-right: 150px;
}

/* Main Section Second Area Start My Inspiration Area */
.second-area{
    width: 1100px;
    height: 700px;
    margin: 50px auto;
    text-align: center;
}
.my-inspiration-area{
    width: 700px;
    margin: 0px auto;
}
.my-inspiration-area h2{
    padding: 20px 0px;
    font-weight: 900;
    font-family: 30px;
}
.my-inspiration-area p{
    font-size: 14px;
    font-weight: 300;
}
.second-area iframe{
    padding: 50px;
   border: 1px solid #0d132131;
   border-radius: 10px;
}

/* Third Section Area */
.third-Section{
   width: 1100px;
   height: 70vh;
   margin: 30px auto;

  
}
.third-section-taitel-area{
   width: 600px;
   text-align: center;
   margin-left: 270px; 
}
.third-section-taitel-area > h2{
   font-size: 25px;
   font-weight: 900;
   padding: 15px 0px;
}
.third-section-taitel-area > p{
   font-size: 14px;
   font-weight: 300;
   line-height: 22px;
}
.third-section-box{
   display: flex;
   justify-content: space-around;
}
.third-section-box div{
      width: 350px;
      height: 270px;
     margin: 20px;
     padding: 25px;
}
.third-section-box div img{
   padding: 15px 0px;
}
.third-section-box .html{
     
   background: rgba(255, 76, 30, 0.05);
}
.css{
   background: rgba(0, 76, 232, 0.05);
}
.javascript{
   background: rgba(255, 223, 0, 0.05);
}
.third-section-box div p{
   font-size: 14px;
   padding: 15px 0px;
  }
.third-section-box div a{
     font-size: 15PX;
    font-weight: 800;
}